<footer class="global-footer">
  {% include 'base/social.liquid' %}
  <span>&#169;{{ 'now' | date: '%Y' }}
    <a href="{{global.site.url}}" rel="noopener noreferrer">
      {{ global.site.name }}
    </a>
  </span>
</footer>