.social-list {
	display: flex;
	justify-content: var(--social-list-align, flex-start);
	list-style: none;
	margin: unset;
	padding: unset;
	gap: var(--social-list-gap, 1em);

	svg {
		width: var(--social-icon-size, 2.6rem);
		height: var(--social-icon-size, 2.6rem);
	}

	svg * {
		transition: fill 0.5s;
	}
}

.social-list-item-link {
	--svg-fill-color: currentColor;

	color: inherit;

	&:focus {
		outline: 0;
	}

	&:focus svg * {
		transition: unset;
	}
}

.linkedin {
	&:hover,
	&:focus {
		--svg-fill-color: var(--linkedin-blue);
	}
}

.github {
	&:hover,
	&:focus {
		--svg-fill-color: var(--github-black);
	}
}

.bluesky {
	&:hover,
	&:focus {
		--svg-fill-color: var(--bluesky-blue);
	}
}

.discord {
	&:hover,
	&:focus {
		--svg-fill-color: var(--discord-purple);
	}
}

.itch {
	&:hover,
	&:focus {
		--svg-fill-color: var(--itch-red);
	}
}
