---
layout: page
title: Hello, it's Harry.
grid: content
---
<article class="page-content">
	<h1 class="page-title">
  {{ title | default: global.title }}
</h1>
{% if thumbnail %}
  <figure class="page-thumbnail-container">
    <img
      src="{{ thumbnail }}"
      alt="{{ title }}"
      class="page-thumbnail" />
  </figure>
{% endif %}
  {{ content }}
</article>
