<section class="section hero" id="hero">
	<div class="fullscreen-video">
  <video
    loop
    autoplay
    muted
    playsinline
    class="video">
    <source src="/assets/video/spin.mp4" type="video/mp4" />
    <img src="/assets/img/spin.gif" alt="Hero Image" />
  </video>
</div>
</section>
