	<section class="section socials" id="socials">
		<div class="graphic">
			{% include 'base/social-list.liquid' %}
		</div>
		<div class="caption">
			<p class="caption-line">Like, follow, subscribe... or contact.</p>
		</div>
		<div class="cta">
				<a href="#contact" class="cta-button button" tabindex="0">Contact</a>
		</div.>

</section>
