	<section class="section welcome" id="welcome">
		<header class="section-header">
			<h1 class="page-title">Welcome!</h1>
		</header>
		<div class="graphic portrait-graphic" role="img" aria-label="portrait in pixel art">
		{% include 'svg/portrait.svg' %}
		</div>
		<div class="caption">
			<p class="caption-line">You have probably seen this face in the socials.</p>
		</div>
		<div class="cta">
				<a href="#socials" class="cta-button button" tabindex="0">Socials</a>
				<a href="#css" class="cta-button button" tabindex="0">Comission</a>
		</div.>

</section>
