.slideshow {
  & .main {
    display: block;
  }
}

.page-grid {
	display: grid;
	grid-template-columns: [full-width-start] 1fr [content-start] 1fr [content-end] 1fr [full-width-end];
}

.content {
	grid-column: content;
}

.slideshow-buttons {
	display: flex;
	justify-content: space-between;
	padding-block: 1ex;
}

.pagination-menu {
	padding: unset;
	list-style: none;
}

.pagination-item {
	display: inline-block;
}

.is-current {
	text-decoration: none;
	pointer-events: none;

	.pagination-link {
			text-decoration: none;
	}
}
