<div class="landing-container">
  {% include face.html %}
  <h2 class="headline">Harry Pujols (playertag: HARRYMFA)</h2>
  <p>
    Harry Pujols the man runs Harry Pujols the studio, which provides Web
    services for big and small clients. He's also a founding member of Dead
    Lizard Graphics, a collective game studio and digital agency.
  </p>
  <p>
    harrypujols.com has been live since way back when Dreamweaver and Frontpage
    was what kids describe today as "code vibing". It's always under
    destruction, construction and deconstruction.
  </p>
</div>
