<fieldset class="settings" data-js="modeswitch">
  <input
    type="radio"
    name="mode"
    id="light"
    value="light"
    class="mode-switch"
  />
  <label for="light" class="mode-switch-label">
    <span class="mode-switch-icon"> {% include svg/lights-on.svg %} </span>
    <span class="mode-switch-text visually-hidden">Light</span>
  </label>
  <input
    type="radio"
    name="mode"
    id="system"
    value="system"
    class="mode-switch"
  />
  <label for="system" class="mode-switch-label">
    <span class="mode-switch-icon"> {% include svg/unplugged.svg %} </span>
    <span class="mode-switch-text visually-hidden">System</span>
  </label>
  <input type="radio" name="mode" id="dark" value="dark" class="mode-switch" />
  <label for="dark" class="mode-switch-label">
    <span class="mode-switch-icon"> {% include svg/lights-off.svg %} </span>
    <span class="mode-switch-text visually-hidden">Dark</span>
  </label>
</fieldset>
