<div class="landing-container">
  <h2>Projects</h2>
  <ul class="project-list">
    {% for item in site.data.projects %}
    <li class="project-list-item">
      <a href="{{ item.url }}" target="_blank" class="project-list-link">
        <h3 class="project-list-title">{{item.name}}</h3>
        <figure class="project-list-image">
          <img src="{{ item.image }}" alt="{{ item.name }}" />
        </figure>
      </a>
      <p class="project-list-description">{{ item.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
