<aside class="sidebar">
  <a href="/index.html" target="_top" class="sidebar-link">
    <div class="sidebar-icon icon" role="img" aria-label="Homepage">
      {% include icons/home.svg %}
    </div>
    Homepage
  </a>

  <fieldset data-js="modeswitch" class="mode-switch">
    <div class="sidebar-field">
      <input
        type="checkbox"
        id="light-mode"
        name="mode-switch"
        value="light"
        class="mode-switch-field"
      />
      <label
        for="light-mode"
        class="sidebar-icon icon mode-switch-label"
        role="img"
        aria-label="Light Mode"
      >
        {% include icons/sun.svg %}
      </label>
    </div>

    <div class="sidebar-field">
      <input
        type="checkbox"
        id="dark-mode"
        name="mode-switch"
        value="dark"
        class="mode-switch-field"
      />
      <label
        for="dark-mode"
        class="sidebar-icon icon mode-switch-label"
        role="img"
        aria-label="Dark Mode"
      >
        {% include icons/moon.svg %}
      </label>
    </div>
  </fieldset>

  <a href="/feed.xml" class="sidebar-link">
    <div class="sidebar-icon icon rss-icon" role="img" aria-label="RSS">
      {% include icons/rss.svg %}
    </div>
    Homepage
  </a>
</aside>
