<ul class="social-list">
  <li class="social-list-item">
    <a href="https://www.linkedin.com/in/harrypujols/" target="_blank"
      >{% include svg/linkedin.svg %} LinkedIn</a
    >
  </li>
  <li class="social-list-item">
    <a href="https://github.com/harrypujols" target="_blank"
      >{% include svg/github.svg %} Github</a
    >
  </li>
  <li class="social-list-item">
    <a href="https://bsky.app/profile/harrypujols.com" target="_blank"
      >{% include svg/bluesky.svg %} Bluesky</a
    >
  </li>
  <li class="social-list-item">
    <a href=" https://discordapp.com/users/harrymfa"
      >{% include svg/discord.svg %} Discord</a
    >
  </li>
</ul>
