.slideshow {
  & .main {
    display: block;
  }
}

.page-grid {
	display: grid;
	grid-template-columns: [full-width-start] 1rem [content-start] 1fr [content-end] 1rem [full-width-end];

	@container style(--breakpoint: "tablet-portrait") or style(--breakpoint: "tablet-landscape") or style(--breakpoint: "desktop") {
		grid-template-columns: [full-width-start] 1fr [content-start] 1fr [content-end] 1fr [full-width-end];
	}
}

.content {
	grid-column: content;
}

.slideshow-header {
	padding-top: 1rem;
}

.slideshow-buttons {
	display: flex;
	justify-content: space-between;
	padding-block: 1ex;
}

.pagination-menu {
	padding: unset;
	list-style: none;
}

.pagination-item {
	display: inline-block;
}

.is-current {
	text-decoration: none;
	pointer-events: none;

	.pagination-link {
			text-decoration: none;
	}
}
