.main {
	display: grid;
	min-height: 100vh;
	grid-template-columns: [full-width-start] 1rem [content-start] 1fr [content-end] 1rem [full-width-end];
}

.global-header {
	padding-block: 0.5vh;
	border-bottom: 1px solid currentColor;
	letter-spacing: 0.08ch;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: space-between;
	align-items: center;
}

.global-site-title {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: var(--font-weight-medium);
	font-size: 1rem;
}

.global-footer {
	grid-column: full-width;
	padding-inline: 1rem;
	padding-block: 1rem;
	background-color: var(--color-dark);
	color: var(--color-light);
}
