:root {
  // globals
  --font-family-sans: "Popins", sans-serif;
  --font-family-mono: "VT323", monospace;
  --base-font: var(--font-family-mono);
  --base-font-weight: 400;
  --base-font-size: clamp(1.25rem, 2vw, 1.75rem);
  --hamburger-size: 2rem;
  --hamburger-index: 1000;
  --hamburger-navigation-index: 900;

  // PICO-8 colors
  --color-black: #000000;
  --color-white: #ffffff;
  --color-beige: #fef4e7;
  --color-navy: #1c3a59;
  --color-blue: #0099ff;
  --color-green: #009933;
  --color-lime: #33cc66;
  --color-gray: #57534e;
  --color-cloud: #c4c4c4;
  --color-neutral: #8a7b8a;
  --color-purple: #8a2c5a;
  --color-red: #ff0033;
  --color-orange: #ffaa00;
  --color-yellow: #ffcc00;
  --color-flesh: #fcd9b2;
  --color-pink: #ffb3cc;
  --color-brown: #8c5a38;

  // syntax highlighting (PICO-8 theme)
  --highlight-font: var(--base-font);
  --highlight-font-size: var(--base-font-size);
  --highlight-color-base: var(--color-cloud);
  --highlight-background-base: var(--color-gray);
  --highlight-background-hhl: var(--color-black);
  --highlight-color-err: var(--color-orange);
  --highlight-background-err: var(--color-gray);
  --highlight-color-k: var(--color-pink);
  --highlight-color-p: var(--color-beige);
  --highlight-color-cs: var(--color-red);
  --highlight-color-cd: var(--color-red);
  --highlight-color-ge: var(--color-beige);
  --highlight-color-gr: var(--color-red);
  --highlight-color-go: var(--color-neutral);
  --highlight-color-gs: var(--color-beige);
  --highlight-color-gu: var(--color-purple);
  --highlight-color-gt: var(--color-blue);
  --highlight-color-kc: var(--color-pink);
  --highlight-color-kd: var(--color-pink);
  --highlight-color-kn: var(--color-flesh);
  --highlight-color-kp: var(--color-yellow);
  --highlight-color-kr: var(--color-yellow);
  --highlight-color-ni: var(--color-pink);
  --highlight-color-ne: var(--color-cloud);
  --highlight-color-nn: var(--color-cloud);
  --highlight-color-vi: var(--color-flesh);
  --highlight-color-c: var(--color-neutral);
  --highlight-color-l: var(--color-cloud);
  --highlight-color-pz: var(--color-beige);
  --highlight-color-o: var(--color-beige);
  --highlight-color-gh: var(--color-beige);
  --highlight-color-gi: var(--color-lime);
  --highlight-color-ld: var(--color-blue);
  --highlight-color-m: var(--color-blue);
  --highlight-color-na: var(--color-pink);
  --highlight-color-nb: var(--color-cloud);
}
