.hamburger {
  --svg-fill-color: var(--foreground-color);

  appearance: none;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--hamburger-index);
  padding: 1rem;

  svg {
    width: var(--hamburger-size);
    height: var(--hamburger-size);
  }

  body:not(.nav-open) &.is-in-reverse {
    --svg-fill-color: var(--darkmode-foreground-color);
  }
}

.navigation-list {
  font-size: clamp(1.5rem, 4vw, 32rem);
  list-style: none;
  margin: 0;
  padding: calc(var(--hamburger-size) * 2) 1rem var(--hamburger-size);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  inset: 0;
  z-index: var(--hamburger-navigation-index);
  transition: transform 0.3s ease-in-out;
  background-color: var(--background-color);

  &[aria-expanded="false"] {
    transform: translateX(-100%);
  }

  &[aria-expanded="true"] {
    transform: translateX(0);
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.is-active {
  color: var(--foreground-color);
  text-decoration: none;
}

.nav-open {
  overflow: hidden;
  width: 100%;
}
