.navigation {
  position: fixed;
  inset: 0;
  z-index: var(--hamburger-navigation-index);
  transition: transform 0.3s ease-in-out;
  background-color: var(--background-color);
  padding-block: 0.5rem 1rem;
  border-bottom: 1px dashed currentColor;
  padding-top: var(--hamburger-size);

  [aria-expanded="false"] {
    transform: translateX(-100%);
  }

  [aria-expanded="true"] {
    transform: translateX(0);
  }
}

.hamburger {
  --svg-fill-color: currentColor;

  appearance: none;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: var(--hamburger-index);

  svg {
    width: var(--hamburger-size);
    height: var(--hamburger-size);
  }
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // justify-content: flex-end;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.is-active {
  color: var(--foreground-color);
  text-decoration: none;
}
