.navigation {
  display: none;

  &:where(.is-visible) {
    display: block;
  }
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.is-active {
  color: var(--foreground-color);
  text-decoration: none;
}
