.project-list {
  list-style: none;
}

.project-list-item {
  margin-bottom: 2rem;
  display: grid;
  gap: 1.25rem;
  grid-template-areas: "title" "picture" "description";

  @media (min-width: map-get($breakpoints, tablet-portrait)) {
    gap: 0 1.25rem;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "picture title" "picture description";
  }

  &:nth-child(odd) {
    @media (min-width: map-get($breakpoints, tablet-portrait)) {
      grid-template-areas: "title picture" "description picture";
    }
  }
}

.project-list-link {
  grid-area: title;
  display: block;

  &:after {
    display: none;
  }
}

.project-list-image {
  grid-area: picture;
  display: inline-block;
  align-self: start;
  max-width: 100%;
  line-height: 0;

  img {
    max-width: 100%;
    line-height: 1;
  }

  :where(.mode-system) & {
    @media (prefers-color-scheme: dark) {
      background-color: var(--foreground-color);
    }
  }

  :where(.mode-dark) & {
    background-color: var(--foreground-color);
  }
}

.project-list-description {
  grid-area: description;
}
