.sidebar {
  --icon-width: 2.6rem;

  background-color: var(--body-background);
  color: var(--body-color);
  padding: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  grid-area: nav;

  .system & {
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-navy);
    }
  }

  .dark & {
    background-color: var(--color-navy);
  }

  @include breakpoint(tablet-portrait) {
    width: var(--sidebar-width);
    margin: unset;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.6rem;
    top: 0;
    bottom: unset;
  }

  @media print {
    display: none;
  }
}

.sidebar-link {
  font-size: 0;
  color: transparent;
  line-height: 0;
}

.sidebar-field {
  position: relative;
}

.mode-switch {
  pointer-events: none;
  display: contents;
}

.mode-switch-field {
  pointer-events: all;
  cursor: pointer;
  appearance: none;
  border: 0;
  background-color: transparent;
  position: absolute;
  display: block;
  width: var(--icon-width);
  inset: 0;
}

.mode-switch-label {
  display: inline-block;
}

.light [for="light-mode"] {
  fill: var(--color-orange);
}

.dark [for="dark-mode"] {
  fill: var(--color-beige);
}
