.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;

  svg {
    width: 3rem;
    height: 3rem;
  }
}

.social-list-item-link {
  --svg-fill-color: var(--color-accent);

  text-decoration: none;

  &:hover {
    --svg-fill-color: currentColor;
  }

  &[target="_blank"]::after,
  &[target="\\_blank"]::after {
    display: none;
  }
}
