.blog-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet-portrait) {
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

.timeline {
  padding-top: 1rem;

  @include breakpoint(tablet-portrait) {
    width: calc(100% - var(--sidebar-width));
  }
}
