.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet-portrait) {
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

.timeline {
  padding-top: 1rem;

  @include breakpoint(tablet-portrait) {
    width: calc(100% - var(--sidebar-width));
  }
}

.icon {
  display: inline-block;
  width: var(--icon-width, 3.2rem);
  fill: var(--color-black);

  .system & {
    @media (prefers-color-scheme: dark) {
      fill: var(--color-neutral);
    }
  }

  .dark & {
    fill: var(--color-neutral);
  }

  a:hover & {
    fill: var(--color-blue);
  }
}
