.icon {
  display: inline-block;
  width: var(--icon-width, 3.2rem);
  fill: var(--color-black);

  .system & {
    @media (prefers-color-scheme: dark) {
      fill: var(--color-neutral);
    }
  }

  .dark & {
    fill: var(--color-neutral);
  }

  a:hover & {
    fill: var(--color-blue);
  }
}
