.home {
  :where(.main) {
    padding: 1rem;
  }
}

.ascii-art {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 0.5rem;

  @media (min-width: map-get($breakpoints, "phone-portrait")) {
    font-size: inherit;
  }
}
