:root {
  --base-font: "VT323", monospace;
  --title-font: "Silkscreen", sans-serif;
  --quirky-font: "Micro 5", sans-serif;
  --gothic-font: "Jacquard 12", system-ui;
  --base-font-size: 1.6rem;
  --base-font-weight: 400;
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(360, 100%, 100%);
  --color-beige: hsl(23, 100%, 95%);
  --color-navy: hsl(224, 48%, 22%);
  --color-blue: hsl(203, 100%, 58%);
  --color-green: hsl(156, 100%, 26%);
  --color-lime: hsl(134, 100%, 45%);
  --color-gray: hsl(30, 9%, 34%);
  --color-cloud: hsl(228, 4%, 77%);
  --color-neutral: hsl(261, 16%, 54%);
  --color-purple: hsl(329, 55%, 32%);
  --color-red: hsl(342, 100%, 50%);
  --color-orange: hsl(38, 100%, 50%);
  --color-yellow: hsl(55, 100%, 58%);
  --color-flesh: hsl(24, 100%, 83%);
  --color-pink: hsl(338, 100%, 73%);
  --color-brown: hsl(14, 52%, 44%);
  --body-background: var(--color-white);
  --body-color: var(var(--color-black));
  --card-avatar-radius: 50%;
  --sidebar-width: 4.688rem;
  --highlight-font: var(--base-font);
  --highlight-font-size: var(--base-font-size);
  --highlight-color-base: var(--color-cloud);
  --highlight-background-base: var(--color-gray);
  --highlight-background-hhl: var(--color-black);
  --highlight-color-err: var(--color-orange);
  --highlight-background-err: var(--color-gray);
  --highlight-color-k: var(--color-pink);
  --highlight-color-p: var(--color-beige);
  --highlight-color-cs: var(--color-red);
  --highlight-color-cd: var(--color-red);
  --highlight-color-ge: var(--color-beige);
  --highlight-color-gr: var(--color-red);
  --highlight-color-go: var(--color-neutral);
  --highlight-color-gs: var(--color-beige);
  --highlight-color-gu: var(--color-purple);
  --highlight-color-gt: var(--color-blue);
  --highlight-color-kc: var(--color-pink);
  --highlight-color-kd: var(--color-pink);
  --highlight-color-kn: var(--color-flesh);
  --highlight-color-kp: var(--color-yellow);
  --highlight-color-kr: var(--color-yellow);
  --highlight-color-ni: var(--color-pink);
  --highlight-color-ne: var(--color-cloud);
  --highlight-color-nn: var(--color-cloud);
  --highlight-color-vi: var(--color-flesh);
  --highlight-color-c: var(--color-neutral);
  --highlight-color-l: var(--color-cloud);
  --highlight-color-pz: var(--color-beige);
  --highlight-color-o: var(--color-beige);
  --highlight-color-gh: var(--color-beige);
  --highlight-color-gi: var(--color-lime);
  --highlight-color-ld: var(--color-blue);
  --highlight-color-m: var(--color-blue);
  --highlight-color-na: var(--color-pink);
  --highlight-color-nb: var(--color-cloud);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.highlighter-rouge,
.highlight {
  margin-bottom: 1em;
}
.highlighter-rouge code,
.highlighter-rouge pre, .highlighter-rouge,
.highlight code,
.highlight pre,
.highlight {
  font-family: var(--quirky-font);
  font-size: var(--highlight-font-size);
  color: var(--highlight-color-base);
  background-color: var(--highlight-background-base);
}
.highlighter-rouge .hll,
.highlight .hll {
  background-color: var(--highlight-background-hhl);
}
.highlighter-rouge .err,
.highlight .err {
  color: var(--highlight-color-err);
  background-color: var(--highlight-background-err);
}
.highlighter-rouge .k,
.highlight .k {
  color: var(--highlight-color-k);
}
.highlighter-rouge .p,
.highlight .p {
  color: var(--highlight-color-p);
}
.highlighter-rouge .cs,
.highlight .cs {
  color: var(--highlight-color-cs);
}
.highlighter-rouge .gd,
.highlight .gd {
  color: var(--highlight-color-cd);
}
.highlighter-rouge .ge,
.highlight .ge {
  color: var(--highlight-color-ge);
}
.highlighter-rouge .gr,
.highlight .gr {
  color: var(--highlight-color-gr);
}
.highlighter-rouge .go,
.highlight .go {
  color: var(--highlight-color-go);
}
.highlighter-rouge .gs,
.highlight .gs {
  color: var(--highlight-color-gs);
}
.highlighter-rouge .gu,
.highlight .gu {
  color: var(--highlight-color-gu);
}
.highlighter-rouge .gt,
.highlight .gt {
  color: var(--highlight-color-gt);
}
.highlighter-rouge .kc,
.highlighter-rouge .nd,
.highlight .kc,
.highlight .nd {
  color: var(--highlight-color-kc);
}
.highlighter-rouge .kd,
.highlight .kd {
  color: var(--highlight-color-kd);
}
.highlighter-rouge .kn,
.highlight .kn {
  color: var(--highlight-color-kn);
}
.highlighter-rouge .kp,
.highlight .kp {
  color: var(--highlight-color-kp);
}
.highlighter-rouge .kr,
.highlight .kr {
  color: var(--highlight-color-kr);
}
.highlighter-rouge .ni,
.highlight .ni {
  color: var(--highlight-color-ni);
}
.highlighter-rouge .ne,
.highlight .ne {
  color: var(--highlight-color-ne);
}
.highlighter-rouge .nn,
.highlight .nn {
  color: var(--highlight-color-nn);
}
.highlighter-rouge .vi,
.highlighter-rouge .nc,
.highlight .vi,
.highlight .nc {
  color: var(--highlight-color-vi);
}
.highlighter-rouge .c,
.highlight .c {
  color: var(--highlight-color-c);
}
.highlighter-rouge .l,
.highlight .l {
  color: var(--highlight-color-l);
}
.highlighter-rouge .n,
.highlight .n {
  color: var(--highlight-color-pz);
}
.highlighter-rouge .o,
.highlight .o {
  color: var(--highlight-color-o);
}
.highlighter-rouge .gh,
.highlight .gh {
  color: var(--highlight-color-gh);
}
.highlighter-rouge .gi,
.highlight .gi {
  color: var(--highlight-color-gi);
}
.highlighter-rouge .ld,
.highlight .ld {
  color: var(--highlight-color-ld);
}
.highlighter-rouge .m,
.highlight .m {
  color: var(--highlight-color-m);
}
.highlighter-rouge .na,
.highlight .na {
  color: var(--highlight-color-na);
}
.highlighter-rouge .nb,
.highlight .nb {
  color: var(--highlight-color-nb);
}
.highlighter-rouge .g,
.highlighter-rouge .cm,
.highlighter-rouge .cp,
.highlighter-rouge .c1,
.highlight .g,
.highlight .cm,
.highlight .cp,
.highlight .c1 {
  color: var(--highlight-color-c);
}
.highlighter-rouge .x,
.highlighter-rouge .no,
.highlighter-rouge .nl,
.highlighter-rouge .nx,
.highlighter-rouge .py,
.highlighter-rouge .w,
.highlight .x,
.highlight .no,
.highlight .nl,
.highlight .nx,
.highlight .py,
.highlight .w {
  color: var(--highlight-color-l);
}
.highlighter-rouge .nv,
.highlighter-rouge .vg,
.highlight .nv,
.highlight .vg {
  color: var(--highlight-color-pz);
}
.highlighter-rouge .ow,
.highlight .ow {
  color: var(--highlight-color-o);
}
.highlighter-rouge .gp,
.highlight .gp {
  color: var(--highlight-color-gh);
}
.highlighter-rouge .kt,
.highlighter-rouge .nt,
.highlight .kt,
.highlight .nt {
  color: var(--highlight-color-gi);
}
.highlighter-rouge .s,
.highlighter-rouge .sb,
.highlighter-rouge .sc,
.highlighter-rouge .sd,
.highlighter-rouge .s2,
.highlighter-rouge .se,
.highlighter-rouge .sh,
.highlighter-rouge .si,
.highlighter-rouge .sx,
.highlighter-rouge .sr,
.highlighter-rouge .s1,
.highlighter-rouge .ss,
.highlighter-rouge .dl,
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss,
.highlight .dl {
  color: var(--highlight-color-ld);
}
.highlighter-rouge .mf,
.highlighter-rouge .mh,
.highlighter-rouge .mi,
.highlighter-rouge .mo,
.highlighter-rouge .il,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--highlight-color-m);
}
.highlighter-rouge .nf,
.highlighter-rouge .bp,
.highlighter-rouge .vc,
.highlight .nf,
.highlight .bp,
.highlight .vc {
  color: var(--highlight-color-nb);
}

.highlight pre {
  padding: 1rem;
  margin: unset;
  overflow-x: auto;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .main {
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

.timeline {
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .timeline {
    width: calc(100% - var(--sidebar-width));
  }
}

.icon {
  display: inline-block;
  width: var(--icon-width, 3.2rem);
  fill: var(--color-black);
}
@media (prefers-color-scheme: dark) {
  .system .icon {
    fill: var(--color-neutral);
  }
}
.dark .icon {
  fill: var(--color-neutral);
}
a:hover .icon {
  fill: var(--color-blue);
}

.post > p:only-of-type {
  font-size: 2.75rem;
  text-wrap: pretty;
}
@media (min-width: 48rem) {
  .post > p:only-of-type {
    font-size: 5rem;
    line-height: 2.5ex;
    margin-bottom: 1em;
  }
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-family: var(--title-font);
}

.post-title {
  margin: 1rem 0 0;
}
.post-title + .post-date {
  margin-top: 0.3rem;
}

.post-date {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-top: 1rem;
  margin-bottom: 1em;
}

.post-content {
  --padding-inline: 2rem;
  --content-max-width: 70ch;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [fullwidth-end];
  grid-auto-rows: min-content;
}
@media (min-width: 48rem) {
  .post-content {
    width: calc(100% - var(--sidebar-width));
  }
}
.post-content > :not(.fullwidth) {
  grid-column: content;
}

.fullwidth {
  grid-column: fullwidth;
  display: grid;
  grid-template-columns: inherit;
}
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-avatar {
  width: 5rem;
  border: 1px solid var(--card-avatar-border, transparent);
  border-radius: var(--card-avatar-radius, 0);
}

.pagination {
  padding: 1rem;
}

.rating {
  display: flex;
  gap: 2ch;
}

.footnotes {
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background);
  color: var(--body-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font);
}
@media (prefers-color-scheme: dark) {
  .system body {
    background-color: var(--color-navy);
    color: var(--color-beige);
  }
}
.dark body {
  background-color: var(--color-navy);
  color: var(--color-beige);
}
body:before {
  display: none;
}
@media (min-width: 20rem) {
  body:before {
    content: "phone-portrait";
  }
}
@media (min-width: 35.5rem) {
  body:before {
    content: "phone-landscape";
  }
}
@media (min-width: 48rem) {
  body:before {
    content: "tablet-portrait";
  }
}
@media (min-width: 64rem) {
  body:before {
    content: "tablet-landscape";
  }
}
@media (min-width: 80rem) {
  body:before {
    content: "desktop";
  }
}
@media (min-width: 105rem) {
  body:before {
    content: "desktop-large";
  }
}
@media print {
  body {
    background-color: var(--color-white);
    font-family: sans-serif;
  }
  body, :is(.system, .dark, .light) body, :is(.system, .dark, .light) body * {
    color: var(--color-black);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: 1ex;
}

img {
  max-width: 100%;
}

p {
  margin-top: unset;
  margin-bottom: 1ex;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-blue);
}
a:hover, a:focus, a:visited {
  color: var(--color-purple);
}
@media (prefers-color-scheme: dark) {
  .system a:visited {
    color: var(--color-pink);
  }
}
.dark a:visited {
  color: var(--color-pink);
}

[target="blank"]::after,
[target="\\_blank"]::after {
  padding-left: 1ch;
  vertical-align: super;
  font-size: 80%;
  content: "\2197";
}

fieldset {
  padding: unset;
}

blockquote {
  font-family: var(--gothic-font);
}

.card {
  display: grid;
  grid-template-columns: var(--card-avatar-size, 3rem) auto;
  grid-template-rows: auto 1fr;
  column-gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--card-divider-color, var(--color-cloud));
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  max-width: 75ch;
  margin-inline: auto;
}
@media (prefers-color-scheme: dark) {
  .system .card {
    --username-color: var(--color-beige);
    --account-color: var(--color-cloud);
    --content-color: var(--color-beige);
  }
}
.dark .card {
  --username-color: var(--color-beige);
  --account-color: var(--color-cloud);
  --content-color: var(--color-beige);
}
.card:last-of-type {
  border: 0;
}
@media (min-width: 35.5rem) {
  .card {
    grid-template-columns: var(--card-avatar-size, 5rem) auto;
  }
}
@media print {
  .card {
    page-break-inside: avoid;
  }
}

.card-header {
  display: flex;
  align-items: flex-start;
}

.card-avatar {
  grid-row: 1;
  border: 1px solid var(--card-avatar-border, transparent);
  border-radius: var(--card-avatar-radius);
}
@media (min-width: 35.5rem) {
  .card-avatar {
    grid-row: 1 / span 2;
  }
}

.card-username {
  color: var(--username-color, inherit);
  font-size: 2rem;
  font-weight: var(--base-font-weight);
  margin: 0;
}

.card-account {
  color: var(--account-color, var(--color-gray));
  font-size: 2rem;
  display: block;
}
@media (min-width: 35.5rem) {
  .card-account {
    display: inline;
  }
}

.card-content {
  grid-column: 1 / span 2;
  margin: 0;
  color: var(--content-color, inherit);
}
@media (min-width: 35.5rem) {
  .card-content {
    grid-column: 2;
  }
}

.card-picture {
  padding-top: 2rem;
}
.card-picture img {
  border-radius: 0.5rem;
}

.card-badge {
  display: inline-block;
  width: 1.6rem;
  vertical-align: middle;
  margin-left: -0.5rem;
}

.card-icon {
  display: inline-block;
  width: 2.375rem;
}

@media (min-width: 35.5rem) {
  .card-footer {
    grid-column: 2;
  }
}

.card-footer-link {
  display: inline-block;
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.sidebar {
  --icon-width: 2.6rem;
  background-color: var(--body-background);
  color: var(--body-color);
  padding: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  grid-area: nav;
}
@media (prefers-color-scheme: dark) {
  .system .sidebar {
    background-color: var(--color-navy);
  }
}
.dark .sidebar {
  background-color: var(--color-navy);
}
@media (min-width: 48rem) {
  .sidebar {
    width: var(--sidebar-width);
    margin: unset;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.6rem;
    top: 0;
    bottom: unset;
  }
}
@media print {
  .sidebar {
    display: none;
  }
}

.sidebar-link {
  font-size: 0;
  color: transparent;
  line-height: 0;
}

.sidebar-field {
  position: relative;
}

.mode-switch {
  pointer-events: none;
  display: contents;
}

.mode-switch-field {
  pointer-events: all;
  cursor: pointer;
  appearance: none;
  border: 0;
  background-color: transparent;
  position: absolute;
  display: block;
  width: var(--icon-width);
  inset: 0;
}

.mode-switch-label {
  display: inline-block;
}

.light [for="light-mode"] {
  fill: var(--color-orange);
}

.dark [for="dark-mode"] {
  fill: var(--color-beige);
}

.post-list-item {
  padding-bottom: 1rem;
  border-top: 1px dashed var(--color-cloud);
}

.rating-img {
  width: 5rem;
  border-radius: 0.25rem;
}

.not-found {
  text-align: center;
  background-color: var(--color-blue);
}
.not-found .page {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto auto 1fr;
}
.not-found .page-picture {
  grid-area: footer;
  margin-top: auto;
}
