:root {
  --font-family-sans: "Popins", sans-serif;
  --font-family-mono: "VT323", monospace;
  --base-font: var(--font-family-mono);
  --base-font-weight: 400;
  --base-font-size: clamp(1.25rem, 2vw, 1.75rem);
  --hamburger-size: 2rem;
  --hamburger-index: 1000;
  --hamburger-navigation-index: 900;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-beige: #fef4e7;
  --color-navy: #1c3a59;
  --color-blue: #0099ff;
  --color-green: #009933;
  --color-lime: #33cc66;
  --color-gray: #57534e;
  --color-cloud: #c4c4c4;
  --color-neutral: #8a7b8a;
  --color-purple: #8a2c5a;
  --color-red: #ff0033;
  --color-orange: #ffaa00;
  --color-yellow: #ffcc00;
  --color-flesh: #fcd9b2;
  --color-pink: #ffb3cc;
  --color-brown: #8c5a38;
  --highlight-font: var(--base-font);
  --highlight-font-size: var(--base-font-size);
  --highlight-color-base: var(--color-cloud);
  --highlight-background-base: var(--color-gray);
  --highlight-background-hhl: var(--color-black);
  --highlight-color-err: var(--color-orange);
  --highlight-background-err: var(--color-gray);
  --highlight-color-k: var(--color-pink);
  --highlight-color-p: var(--color-beige);
  --highlight-color-cs: var(--color-red);
  --highlight-color-cd: var(--color-red);
  --highlight-color-ge: var(--color-beige);
  --highlight-color-gr: var(--color-red);
  --highlight-color-go: var(--color-neutral);
  --highlight-color-gs: var(--color-beige);
  --highlight-color-gu: var(--color-purple);
  --highlight-color-gt: var(--color-blue);
  --highlight-color-kc: var(--color-pink);
  --highlight-color-kd: var(--color-pink);
  --highlight-color-kn: var(--color-flesh);
  --highlight-color-kp: var(--color-yellow);
  --highlight-color-kr: var(--color-yellow);
  --highlight-color-ni: var(--color-pink);
  --highlight-color-ne: var(--color-cloud);
  --highlight-color-nn: var(--color-cloud);
  --highlight-color-vi: var(--color-flesh);
  --highlight-color-c: var(--color-neutral);
  --highlight-color-l: var(--color-cloud);
  --highlight-color-pz: var(--color-beige);
  --highlight-color-o: var(--color-beige);
  --highlight-color-gh: var(--color-beige);
  --highlight-color-gi: var(--color-lime);
  --highlight-color-ld: var(--color-blue);
  --highlight-color-m: var(--color-blue);
  --highlight-color-na: var(--color-pink);
  --highlight-color-nb: var(--color-cloud);
}

.highlighter-rouge,
.highlight {
  margin-bottom: 1em;
}
.highlighter-rouge code,
.highlighter-rouge pre, .highlighter-rouge,
.highlight code,
.highlight pre,
.highlight {
  font-family: var(--quirky-font);
  font-size: var(--highlight-font-size);
  color: var(--highlight-color-base);
  background-color: var(--highlight-background-base);
}
.highlighter-rouge .hll,
.highlight .hll {
  background-color: var(--highlight-background-hhl);
}
.highlighter-rouge .err,
.highlight .err {
  color: var(--highlight-color-err);
  background-color: var(--highlight-background-err);
}
.highlighter-rouge .k,
.highlight .k {
  color: var(--highlight-color-k);
}
.highlighter-rouge .p,
.highlight .p {
  color: var(--highlight-color-p);
}
.highlighter-rouge .cs,
.highlight .cs {
  color: var(--highlight-color-cs);
}
.highlighter-rouge .gd,
.highlight .gd {
  color: var(--highlight-color-cd);
}
.highlighter-rouge .ge,
.highlight .ge {
  color: var(--highlight-color-ge);
}
.highlighter-rouge .gr,
.highlight .gr {
  color: var(--highlight-color-gr);
}
.highlighter-rouge .go,
.highlight .go {
  color: var(--highlight-color-go);
}
.highlighter-rouge .gs,
.highlight .gs {
  color: var(--highlight-color-gs);
}
.highlighter-rouge .gu,
.highlight .gu {
  color: var(--highlight-color-gu);
}
.highlighter-rouge .gt,
.highlight .gt {
  color: var(--highlight-color-gt);
}
.highlighter-rouge .kc,
.highlighter-rouge .nd,
.highlight .kc,
.highlight .nd {
  color: var(--highlight-color-kc);
}
.highlighter-rouge .kd,
.highlight .kd {
  color: var(--highlight-color-kd);
}
.highlighter-rouge .kn,
.highlight .kn {
  color: var(--highlight-color-kn);
}
.highlighter-rouge .kp,
.highlight .kp {
  color: var(--highlight-color-kp);
}
.highlighter-rouge .kr,
.highlight .kr {
  color: var(--highlight-color-kr);
}
.highlighter-rouge .ni,
.highlight .ni {
  color: var(--highlight-color-ni);
}
.highlighter-rouge .ne,
.highlight .ne {
  color: var(--highlight-color-ne);
}
.highlighter-rouge .nn,
.highlight .nn {
  color: var(--highlight-color-nn);
}
.highlighter-rouge .vi,
.highlighter-rouge .nc,
.highlight .vi,
.highlight .nc {
  color: var(--highlight-color-vi);
}
.highlighter-rouge .c,
.highlight .c {
  color: var(--highlight-color-c);
}
.highlighter-rouge .l,
.highlight .l {
  color: var(--highlight-color-l);
}
.highlighter-rouge .n,
.highlight .n {
  color: var(--highlight-color-pz);
}
.highlighter-rouge .o,
.highlight .o {
  color: var(--highlight-color-o);
}
.highlighter-rouge .gh,
.highlight .gh {
  color: var(--highlight-color-gh);
}
.highlighter-rouge .gi,
.highlight .gi {
  color: var(--highlight-color-gi);
}
.highlighter-rouge .ld,
.highlight .ld {
  color: var(--highlight-color-ld);
}
.highlighter-rouge .m,
.highlight .m {
  color: var(--highlight-color-m);
}
.highlighter-rouge .na,
.highlight .na {
  color: var(--highlight-color-na);
}
.highlighter-rouge .nb,
.highlight .nb {
  color: var(--highlight-color-nb);
}
.highlighter-rouge .g,
.highlighter-rouge .cm,
.highlighter-rouge .cp,
.highlighter-rouge .c1,
.highlight .g,
.highlight .cm,
.highlight .cp,
.highlight .c1 {
  color: var(--highlight-color-c);
}
.highlighter-rouge .x,
.highlighter-rouge .no,
.highlighter-rouge .nl,
.highlighter-rouge .nx,
.highlighter-rouge .py,
.highlighter-rouge .w,
.highlight .x,
.highlight .no,
.highlight .nl,
.highlight .nx,
.highlight .py,
.highlight .w {
  color: var(--highlight-color-l);
}
.highlighter-rouge .nv,
.highlighter-rouge .vg,
.highlight .nv,
.highlight .vg {
  color: var(--highlight-color-pz);
}
.highlighter-rouge .ow,
.highlight .ow {
  color: var(--highlight-color-o);
}
.highlighter-rouge .gp,
.highlight .gp {
  color: var(--highlight-color-gh);
}
.highlighter-rouge .kt,
.highlighter-rouge .nt,
.highlight .kt,
.highlight .nt {
  color: var(--highlight-color-gi);
}
.highlighter-rouge .s,
.highlighter-rouge .sb,
.highlighter-rouge .sc,
.highlighter-rouge .sd,
.highlighter-rouge .s2,
.highlighter-rouge .se,
.highlighter-rouge .sh,
.highlighter-rouge .si,
.highlighter-rouge .sx,
.highlighter-rouge .sr,
.highlighter-rouge .s1,
.highlighter-rouge .ss,
.highlighter-rouge .dl,
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss,
.highlight .dl {
  color: var(--highlight-color-ld);
}
.highlighter-rouge .mf,
.highlighter-rouge .mh,
.highlighter-rouge .mi,
.highlighter-rouge .mo,
.highlighter-rouge .il,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--highlight-color-m);
}
.highlighter-rouge .nf,
.highlighter-rouge .bp,
.highlighter-rouge .vc,
.highlight .nf,
.highlight .bp,
.highlight .vc {
  color: var(--highlight-color-nb);
}

.highlight pre {
  padding: 1rem;
  margin: unset;
  overflow-x: auto;
}

.icon {
  display: inline-block;
  width: var(--icon-width, 3.2rem);
  fill: var(--color-black);
}
@media (prefers-color-scheme: dark) {
  .system .icon {
    fill: var(--color-neutral);
  }
}
.dark .icon {
  fill: var(--color-neutral);
}
a:hover .icon {
  fill: var(--color-blue);
}

.post > p:only-of-type {
  font-size: 2.75rem;
  text-wrap: pretty;
}
@media (min-width: 48rem) {
  .post > p:only-of-type {
    font-size: 5rem;
    line-height: 2.5ex;
    margin-bottom: 1em;
  }
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-family: var(--title-font);
}

.post-title {
  margin: 1rem 0 0;
}
.post-title + .post-date {
  margin-top: 0.3rem;
}

.post-date {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-top: 1rem;
  margin-bottom: 1em;
}
@media (prefers-color-scheme: dark) {
  .system .post-date {
    color: var(--color-cloud);
  }
}
.dark .post-date {
  color: var(--color-cloud);
}

.post-content {
  --padding-inline: 2rem;
  --content-max-width: 70ch;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [fullwidth-end];
  grid-auto-rows: min-content;
}
@media (min-width: 48rem) {
  .post-content {
    width: calc(100% - var(--sidebar-width));
  }
}
.post-content > :not(.fullwidth) {
  grid-column: content;
}

.fullwidth {
  grid-column: fullwidth;
  display: grid;
  grid-template-columns: inherit;
}
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-avatar {
  width: 5rem;
  border: 1px solid var(--card-avatar-border, transparent);
  border-radius: var(--card-avatar-radius, 0);
}

.pagination {
  padding: 1rem;
}

.rating {
  display: flex;
  gap: 2ch;
}

.footnotes {
  font-size: 1rem;
}

.blog-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .blog-main {
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

.timeline {
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .timeline {
    width: calc(100% - var(--sidebar-width));
  }
}

.landing-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  scroll-snap-type: y mandatory;
}

.landing-section {
  min-height: 100vh;
  padding: 1rem;
  scroll-snap-align: start;
}

.landing-container {
  max-width: 100%;
  margin-inline: auto;
}
@media (min-width: 20rem) {
  .landing-container {
    max-width: 70ch;
  }
}

.hero {
  --link-color: var(--darkmode-accent-color);
  color: var(--darkmode-foreground-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fullscreen-video {
  background-color: var(--darkmode-background-color);
  position: absolute;
  inset: 0;
  max-width: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.fullscreen-video video {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
}

.ascii-art {
  max-width: 100vw;
  overflow-x: hidden;
}

.settings {
  --svg-fill-color: var(--foreground-color);
  display: inline-block;
  border: 0;
}

[for="modeswitch"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[for="modeswitch"] svg {
  width: 2rem;
  height: 2rem;
}

[name="modeswitch"] {
  width: 100%;
}

.face {
  font-size: clamp(0.625rem, 2vw, 1.2rem);
}

.not-found {
  text-align: center;
  background-color: var(--color-blue);
}
.not-found .page {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto auto 1fr;
}
.not-found .page-picture {
  grid-area: footer;
  margin-top: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font);
  margin: unset;
  padding: unset;
  max-width: 100%;
  overflow-x: hidden;
}
body:before {
  display: none;
}
@media (min-width: 20rem) {
  body:before {
    content: "phone-portrait";
  }
}
@media (min-width: 35.5rem) {
  body:before {
    content: "phone-landscape";
  }
}
@media (min-width: 48rem) {
  body:before {
    content: "tablet-portrait";
  }
}
@media (min-width: 64rem) {
  body:before {
    content: "tablet-landscape";
  }
}
@media (min-width: 80rem) {
  body:before {
    content: "desktop";
  }
}
@media (min-width: 105rem) {
  body:before {
    content: "desktop-large";
  }
}
@media print {
  body {
    --base-font-size: 12pt;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: sans-serif;
  }
  body, :is(.system, .dark, .light) body, :is(.system, .dark, .light) body * {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
@media (prefers-color-scheme: light) {
  :where(.mode-system) body {
    --background-color: var(--lightmode-background-color);
    --foreground-color: var(--lightmode-foreground-color);
    --color-accent: var(--lightmode-accent-color);
  }
}
@media (prefers-color-scheme: dark) {
  :where(.mode-system) body {
    --background-color: var(--darkmnode-background-color);
    --foreground-color: var(--darkmode-foreground-color);
    --color-accent: var(--darkmode-accent-color);
  }
}
:where(.mode-light) body {
  --background-color: var(--lightmode-background-color);
  --foreground-color: var(--lightmode-foreground-color);
  --color-accent: var(--lightmode-accent-color);
}
:where(.mode-dark) body {
  --background-color: var(--darkmnode-background-color);
  --foreground-color: var(--darkmode-foreground-color);
  --color-accent: var(--darkmode-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: 1ex;
  font-size: inherit;
  text-wrap: balance;
}
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  padding-right: 1ch;
}

h1:before {
  content: "#";
}

h2:before {
  content: "##";
}

h3:before {
  content: "###";
}

h4:before {
  content: "####";
}

img {
  max-width: 100%;
}

p {
  margin-top: unset;
  margin-bottom: 1ex;
}

ul {
  padding: unset;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color, var(--color-accent));
}
a:hover {
  color: inherit;
}

[target="_blank"]::after,
[target="\\_blank"]::after {
  vertical-align: super;
  font-size: 0.8em;
  content: "\2197";
}

fieldset {
  padding: unset;
}

hr {
  border: 0;
  border-bottom: 1px dashed currentColor;
}

pre {
  font-family: var(--font-family-mono);
  font-size: inherit;
  color: inherit;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: unset;
}
.button:before {
  content: "[";
}
.button:after {
  content: "]";
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.card {
  display: grid;
  grid-template-columns: var(--card-avatar-size, 3rem) auto;
  grid-template-rows: auto 1fr;
  column-gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--card-divider-color, var(--color-cloud));
  max-width: 75ch;
  margin-inline: auto;
}
@media (prefers-color-scheme: dark) {
  .system .card {
    --username-color: var(--color-beige);
    --account-color: var(--color-cloud);
    --content-color: var(--color-beige);
  }
}
.dark .card {
  --username-color: var(--color-beige);
  --account-color: var(--color-cloud);
  --content-color: var(--color-beige);
}
.card:last-of-type {
  border: 0;
}
@media (min-width: 35.5rem) {
  .card {
    grid-template-columns: var(--card-avatar-size, 5rem) auto;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}
@media print {
  .card {
    page-break-inside: avoid;
  }
}

.card-header {
  display: flex;
  align-items: flex-start;
}

.card-avatar {
  grid-row: 1;
  border: 1px solid var(--card-avatar-border, transparent);
  border-radius: var(--card-avatar-radius);
}
@media (min-width: 35.5rem) {
  .card-avatar {
    grid-row: 1 / span 2;
  }
}

.card-username {
  font-size: 1.4rem;
  color: var(--username-color, inherit);
  font-weight: var(--base-font-weight);
  margin: 0;
}
@media (min-width: 35.5rem) {
  .card-username {
    font-size: 2rem;
  }
}

.card-account {
  color: var(--account-color, var(--color-gray));
  font-size: inherit;
  display: block;
}
@media (min-width: 35.5rem) {
  .card-account {
    display: inline;
  }
}

.card-content {
  margin-block: 1rem;
  grid-column: 1 / span 2;
  color: var(--content-color, inherit);
}
@media (min-width: 35.5rem) {
  .card-content {
    grid-column: 2;
    margin: 0;
  }
}

.card-picture {
  padding-top: 2rem;
}
.card-picture img {
  border-radius: 0.5rem;
}

.card-badge {
  display: inline-block;
  width: 1.2rem;
  vertical-align: middle;
}
@media (min-width: 35.5rem) {
  .card-badge {
    width: 1.6rem;
    margin-left: -0.5rem;
  }
}

.card-icon {
  display: inline-block;
  width: 2.375rem;
}

@media (min-width: 35.5rem) {
  .card-footer {
    grid-column: 2;
  }
}

.card-footer-link {
  display: inline-block;
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.post-list-item {
  padding-bottom: 1rem;
  border-top: 1px dashed var(--color-cloud);
}

.rating-img {
  width: 5rem;
}

.social-list {
  --social-icon-size: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}
.social-list svg {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
}

.social-list-item-link {
  --svg-fill-color: var(--link-color, var(--color-accent));
  text-decoration: none;
}
.social-list-item-link:hover {
  --svg-fill-color: currentColor;
}
.social-list-item-link[target="_blank"]::after, .social-list-item-link[target="\\_blank"]::after {
  display: none;
}

.hamburger {
  --svg-fill-color: var(--foreground-color);
  appearance: none;
  background-color: var(--background-color);
  box-shadow: none;
  border: 0;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--hamburger-index);
  padding: 1rem;
}
.hamburger svg {
  width: var(--hamburger-size);
  height: var(--hamburger-size);
}
body:not(.nav-open) .hamburger.is-in-reverse {
  --svg-fill-color: var(--darkmode-foreground-color);
  background-color: transparent;
}

.navigation-list {
  font-size: clamp(1.5rem, 4vw, 32rem);
  list-style: none;
  margin: 0;
  padding: calc(var(--hamburger-size) * 2) 1rem var(--hamburger-size);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  inset: 0;
  z-index: var(--hamburger-navigation-index);
  transition: transform 0.3s ease-in-out;
  background-color: var(--background-color);
}
.navigation-list[aria-expanded="false"] {
  transform: translateX(-100%);
}
.navigation-list[aria-expanded="true"] {
  transform: translateX(0);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.is-active {
  color: var(--foreground-color);
  text-decoration: none;
}

.nav-open {
  overflow: hidden;
  width: 100%;
}

.select-field {
  appearance: none;
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 1px solid currentColor;
  border-radius: 0;
  padding: 0.25rem 1.5rem 0.25rem 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

.faux-select {
  --svg-fill-color: var(--background-color);
  position: relative;
}
.faux-select svg {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  pointer-events: none;
}

.modeswitch-label {
  position: relative;
  display: inline-block;
}
.modeswitch-label:has(.modeswitch:checked) .modeswitch-indicator {
  visibility: visible;
}

.modeswitch {
  appearance: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.modeswitch-indicator {
  --svg-fill-color: var(--color-accent);
  text-align: center;
  visibility: hidden;
}
.modeswitch-indicator svg {
  width: 1rem;
  height: 1rem;
}

.modeswitch-icon svg {
  width: 3rem;
  height: 3rem;
}

.project-list {
  list-style: none;
}

.project-list-item {
  margin-bottom: 2rem;
  display: grid;
  gap: 1.25rem;
  grid-template-areas: "title" "picture" "description";
}
@media (min-width: 48rem) {
  .project-list-item {
    grid-template-rows: 1.25rem 1fr;
    grid-template-areas: "picture title" "picture description";
  }
}
@media (min-width: 48rem) {
  .project-list-item:nth-child(odd) {
    grid-template-areas: "title picture" "description picture";
  }
}

.project-list-link {
  grid-area: title;
  display: block;
  margin-bottom: 1ex;
}
.project-list-link:after {
  display: none;
}

.project-link-title {
  margin-bottom: 1ex;
}

.project-list-image {
  grid-area: picture;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  line-height: 0;
}
.project-list-image img {
  max-width: 100%;
  line-height: 1;
}
@media (prefers-color-scheme: dark) {
  :where(.mode-system) .project-list-image {
    background-color: var(--foreground-color);
  }
}
:where(.mode-dark) .project-list-image {
  background-color: var(--foreground-color);
}

.project-list-description {
  grid-area: description;
}

.theme-default {
  --color-dark: #222323;
  --color-light: #f0f6f0;
  --color-violet: #ea7af4;
  --color-indigo: #3b0086;
  --lightmode-background-color: var(--color-light);
  --lightmode-foreground-color: var(--color-dark);
  --lightmode-accent-color: var(--color-indigo);
  --darkmnode-background-color: var(--color-dark);
  --darkmode-foreground-color: var(--color-light);
  --darkmode-accent-color: var(--color-violet);
}

.theme-solarized {
  --color-solarized-base03: #002b36;
  --color-solarized-base02: #073642;
  --color-solarized-base01: #586e75;
  --color-solarized-base00: #657b83;
  --color-solarized-base0: #839496;
  --color-solarized-base1: #93a1a1;
  --color-solarized-base2: #eee8d5;
  --color-solarized-base3: #fdf6e3;
  --color-solarized-yellow: #b58900;
  --color-solarized-orange: #cb4b16;
  --color-solarized-red: #dc322f;
  --color-solarized-magenta: #d33682;
  --color-solarized-violet: #6c71c4;
  --color-solarized-blue: #268bd2;
  --color-solarized-cyan: #2aa198;
  --color-solarized-green: #859900;
  --lightmode-background-color: var(--color-solarized-base3);
  --lightmode-foreground-color: var(--color-solarized-base01);
  --lightmode-accent-color: var(--color-solarized-blue);
  --darkmnode-background-color: var(--color-solarized-base03);
  --darkmode-foreground-color: var(--color-solarized-base1);
  --darkmode-accent-color: var(--color-solarized-orange);
}

.theme-github {
  --color-github-light: #f6f8fa;
  --color-github-dark: #0d1117;
  --color-github-blue: #2f80ed;
  --color-github-green: #2ea44f;
  --color-github-yellow: #f6c94c;
  --color-github-orange: #f9826c;
  --color-github-red: #d73a49;
  --color-github-purple: #6f42c1;
  --color-github-pink: #d5006d;
  --color-github-gray: #24292f;
  --lightmode-background-color: var(--color-github-light);
  --lightmode-foreground-color: var(--color-github-dark);
  --lightmode-accent-color: var(--color-github-blue);
  --darkmnode-background-color: var(--color-github-dark);
  --darkmode-foreground-color: var(--color-github-light);
  --darkmode-accent-color: var(--color-github-red);
}
