:root {
  --font-family-sans: "Popins", sans-serif;
  --font-family-mono: "VT323", monospace;
  --base-font: var(--font-family-mono);
  --base-font-weight: 400;
  --base-font-size: clamp(1.25rem, 2vw, 1.75rem);
  --hamburger-size: 2rem;
  --hamburger-index: 1000;
  --hamburger-navigation-index: 900;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-beige: #fef4e7;
  --color-navy: #1c3a59;
  --color-blue: #0099ff;
  --color-green: #009933;
  --color-lime: #33cc66;
  --color-gray: #57534e;
  --color-cloud: #c4c4c4;
  --color-neutral: #8a7b8a;
  --color-purple: #8a2c5a;
  --color-red: #ff0033;
  --color-orange: #ffaa00;
  --color-yellow: #ffcc00;
  --color-flesh: #fcd9b2;
  --color-pink: #ffb3cc;
  --color-brown: #8c5a38;
  --highlight-font: var(--base-font);
  --highlight-font-size: var(--base-font-size);
  --highlight-color-base: var(--color-cloud);
  --highlight-background-base: var(--color-gray);
  --highlight-background-hhl: var(--color-black);
  --highlight-color-err: var(--color-orange);
  --highlight-background-err: var(--color-gray);
  --highlight-color-k: var(--color-pink);
  --highlight-color-p: var(--color-beige);
  --highlight-color-cs: var(--color-red);
  --highlight-color-cd: var(--color-red);
  --highlight-color-ge: var(--color-beige);
  --highlight-color-gr: var(--color-red);
  --highlight-color-go: var(--color-neutral);
  --highlight-color-gs: var(--color-beige);
  --highlight-color-gu: var(--color-purple);
  --highlight-color-gt: var(--color-blue);
  --highlight-color-kc: var(--color-pink);
  --highlight-color-kd: var(--color-pink);
  --highlight-color-kn: var(--color-flesh);
  --highlight-color-kp: var(--color-yellow);
  --highlight-color-kr: var(--color-yellow);
  --highlight-color-ni: var(--color-pink);
  --highlight-color-ne: var(--color-cloud);
  --highlight-color-nn: var(--color-cloud);
  --highlight-color-vi: var(--color-flesh);
  --highlight-color-c: var(--color-neutral);
  --highlight-color-l: var(--color-cloud);
  --highlight-color-pz: var(--color-beige);
  --highlight-color-o: var(--color-beige);
  --highlight-color-gh: var(--color-beige);
  --highlight-color-gi: var(--color-lime);
  --highlight-color-ld: var(--color-blue);
  --highlight-color-m: var(--color-blue);
  --highlight-color-na: var(--color-pink);
  --highlight-color-nb: var(--color-cloud);
}

.highlighter-rouge,
.highlight {
  margin-bottom: 1em;
}
.highlighter-rouge code,
.highlighter-rouge pre, .highlighter-rouge,
.highlight code,
.highlight pre,
.highlight {
  font-family: var(--quirky-font);
  font-size: var(--highlight-font-size);
  color: var(--highlight-color-base);
  background-color: var(--highlight-background-base);
}
.highlighter-rouge .hll,
.highlight .hll {
  background-color: var(--highlight-background-hhl);
}
.highlighter-rouge .err,
.highlight .err {
  color: var(--highlight-color-err);
  background-color: var(--highlight-background-err);
}
.highlighter-rouge .k,
.highlight .k {
  color: var(--highlight-color-k);
}
.highlighter-rouge .p,
.highlight .p {
  color: var(--highlight-color-p);
}
.highlighter-rouge .cs,
.highlight .cs {
  color: var(--highlight-color-cs);
}
.highlighter-rouge .gd,
.highlight .gd {
  color: var(--highlight-color-cd);
}
.highlighter-rouge .ge,
.highlight .ge {
  color: var(--highlight-color-ge);
}
.highlighter-rouge .gr,
.highlight .gr {
  color: var(--highlight-color-gr);
}
.highlighter-rouge .go,
.highlight .go {
  color: var(--highlight-color-go);
}
.highlighter-rouge .gs,
.highlight .gs {
  color: var(--highlight-color-gs);
}
.highlighter-rouge .gu,
.highlight .gu {
  color: var(--highlight-color-gu);
}
.highlighter-rouge .gt,
.highlight .gt {
  color: var(--highlight-color-gt);
}
.highlighter-rouge .kc,
.highlighter-rouge .nd,
.highlight .kc,
.highlight .nd {
  color: var(--highlight-color-kc);
}
.highlighter-rouge .kd,
.highlight .kd {
  color: var(--highlight-color-kd);
}
.highlighter-rouge .kn,
.highlight .kn {
  color: var(--highlight-color-kn);
}
.highlighter-rouge .kp,
.highlight .kp {
  color: var(--highlight-color-kp);
}
.highlighter-rouge .kr,
.highlight .kr {
  color: var(--highlight-color-kr);
}
.highlighter-rouge .ni,
.highlight .ni {
  color: var(--highlight-color-ni);
}
.highlighter-rouge .ne,
.highlight .ne {
  color: var(--highlight-color-ne);
}
.highlighter-rouge .nn,
.highlight .nn {
  color: var(--highlight-color-nn);
}
.highlighter-rouge .vi,
.highlighter-rouge .nc,
.highlight .vi,
.highlight .nc {
  color: var(--highlight-color-vi);
}
.highlighter-rouge .c,
.highlight .c {
  color: var(--highlight-color-c);
}
.highlighter-rouge .l,
.highlight .l {
  color: var(--highlight-color-l);
}
.highlighter-rouge .n,
.highlight .n {
  color: var(--highlight-color-pz);
}
.highlighter-rouge .o,
.highlight .o {
  color: var(--highlight-color-o);
}
.highlighter-rouge .gh,
.highlight .gh {
  color: var(--highlight-color-gh);
}
.highlighter-rouge .gi,
.highlight .gi {
  color: var(--highlight-color-gi);
}
.highlighter-rouge .ld,
.highlight .ld {
  color: var(--highlight-color-ld);
}
.highlighter-rouge .m,
.highlight .m {
  color: var(--highlight-color-m);
}
.highlighter-rouge .na,
.highlight .na {
  color: var(--highlight-color-na);
}
.highlighter-rouge .nb,
.highlight .nb {
  color: var(--highlight-color-nb);
}
.highlighter-rouge .g,
.highlighter-rouge .cm,
.highlighter-rouge .cp,
.highlighter-rouge .c1,
.highlight .g,
.highlight .cm,
.highlight .cp,
.highlight .c1 {
  color: var(--highlight-color-c);
}
.highlighter-rouge .x,
.highlighter-rouge .no,
.highlighter-rouge .nl,
.highlighter-rouge .nx,
.highlighter-rouge .py,
.highlighter-rouge .w,
.highlight .x,
.highlight .no,
.highlight .nl,
.highlight .nx,
.highlight .py,
.highlight .w {
  color: var(--highlight-color-l);
}
.highlighter-rouge .nv,
.highlighter-rouge .vg,
.highlight .nv,
.highlight .vg {
  color: var(--highlight-color-pz);
}
.highlighter-rouge .ow,
.highlight .ow {
  color: var(--highlight-color-o);
}
.highlighter-rouge .gp,
.highlight .gp {
  color: var(--highlight-color-gh);
}
.highlighter-rouge .kt,
.highlighter-rouge .nt,
.highlight .kt,
.highlight .nt {
  color: var(--highlight-color-gi);
}
.highlighter-rouge .s,
.highlighter-rouge .sb,
.highlighter-rouge .sc,
.highlighter-rouge .sd,
.highlighter-rouge .s2,
.highlighter-rouge .se,
.highlighter-rouge .sh,
.highlighter-rouge .si,
.highlighter-rouge .sx,
.highlighter-rouge .sr,
.highlighter-rouge .s1,
.highlighter-rouge .ss,
.highlighter-rouge .dl,
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss,
.highlight .dl {
  color: var(--highlight-color-ld);
}
.highlighter-rouge .mf,
.highlighter-rouge .mh,
.highlighter-rouge .mi,
.highlighter-rouge .mo,
.highlighter-rouge .il,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--highlight-color-m);
}
.highlighter-rouge .nf,
.highlighter-rouge .bp,
.highlighter-rouge .vc,
.highlight .nf,
.highlight .bp,
.highlight .vc {
  color: var(--highlight-color-nb);
}

.highlight pre {
  padding: 1rem;
  margin: unset;
  overflow-x: auto;
}

.main {
  padding: 1rem;
}

.ascii-art {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 0.5rem;
}
@media (min-width: 20rem) {
  .ascii-art {
    font-size: inherit;
  }
}

.not-found {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font);
  margin: unset;
  padding: unset;
  max-width: 100%;
  overflow-x: hidden;
}
body:before {
  display: none;
}
@media (min-width: 20rem) {
  body:before {
    content: "phone-portrait";
  }
}
@media (min-width: 35.5rem) {
  body:before {
    content: "phone-landscape";
  }
}
@media (min-width: 48rem) {
  body:before {
    content: "tablet-portrait";
  }
}
@media (min-width: 64rem) {
  body:before {
    content: "tablet-landscape";
  }
}
@media (min-width: 80rem) {
  body:before {
    content: "desktop";
  }
}
@media (min-width: 105rem) {
  body:before {
    content: "desktop-large";
  }
}
@media print {
  body {
    --base-font-size: 12pt;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: sans-serif;
  }
  body, :is(.system, .dark, .light) body, :is(.system, .dark, .light) body * {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
@media (prefers-color-scheme: light) {
  :where(.mode-system) body {
    --background-color: var(--lightmode-background-color);
    --foreground-color: var(--lightmode-foreground-color);
    --color-accent: var(--lightmode-accent-color);
  }
}
@media (prefers-color-scheme: dark) {
  :where(.mode-system) body {
    --background-color: var(--darkmnode-background-color);
    --foreground-color: var(--darkmode-foreground-color);
    --color-accent: var(--darkmode-accent-color);
  }
}
:where(.mode-light) body {
  --background-color: var(--lightmode-background-color);
  --foreground-color: var(--lightmode-foreground-color);
  --color-accent: var(--lightmode-accent-color);
}
:where(.mode-dark) body {
  --background-color: var(--darkmnode-background-color);
  --foreground-color: var(--darkmode-foreground-color);
  --color-accent: var(--darkmode-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: 1ex;
  font-size: inherit;
  text-wrap: balance;
}
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  padding-right: 1ch;
}

h1:before {
  content: "#";
}

h2:before {
  content: "##";
}

h3:before {
  content: "###";
}

h4:before {
  content: "####";
}

img {
  max-width: 100%;
}

p {
  margin-top: unset;
  margin-bottom: 1ex;
  max-width: 70ch;
}

ul {
  padding: unset;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color, var(--color-accent));
}
a:hover {
  color: inherit;
}

[target="_blank"]::after,
[target="\\_blank"]::after {
  vertical-align: super;
  font-size: 0.8em;
  content: "\2197";
}

fieldset {
  padding: unset;
}

hr {
  border: 0;
  border-bottom: 1px dashed currentColor;
}

pre {
  font-family: var(--font-family-mono);
  font-size: inherit;
  color: inherit;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: unset;
}
.button:before {
  content: "[";
}
.button:after {
  content: "]";
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.select-field {
  appearance: none;
  background-color: var(--foreground-color);
  color: var(--background-color);
  border: 1px solid currentColor;
  border-radius: 0;
  padding: 0.25rem 1.5rem 0.25rem 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

.faux-select {
  --svg-fill-color: var(--background-color);
  position: relative;
}
.faux-select svg {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  pointer-events: none;
}

.modeswitch-label {
  position: relative;
  display: inline-block;
}
.modeswitch-label:has(.modeswitch:checked) .modeswitch-indicator {
  visibility: visible;
}

.modeswitch {
  appearance: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.modeswitch-indicator {
  --svg-fill-color: var(--color-accent);
  text-align: center;
  visibility: hidden;
}
.modeswitch-indicator svg {
  width: 1rem;
  height: 1rem;
}

.modeswitch-icon svg {
  width: 3rem;
  height: 3rem;
}

.theme-default {
  --color-dark: #222323;
  --color-light: #f0f6f0;
  --color-violet: #ea7af4;
  --color-indigo: #3b0086;
  --lightmode-background-color: var(--color-light);
  --lightmode-foreground-color: var(--color-dark);
  --lightmode-accent-color: var(--color-indigo);
  --darkmnode-background-color: var(--color-dark);
  --darkmode-foreground-color: var(--color-light);
  --darkmode-accent-color: var(--color-violet);
}

.theme-solarized {
  --color-solarized-base03: #002b36;
  --color-solarized-base02: #073642;
  --color-solarized-base01: #586e75;
  --color-solarized-base00: #657b83;
  --color-solarized-base0: #839496;
  --color-solarized-base1: #93a1a1;
  --color-solarized-base2: #eee8d5;
  --color-solarized-base3: #fdf6e3;
  --color-solarized-yellow: #b58900;
  --color-solarized-orange: #cb4b16;
  --color-solarized-red: #dc322f;
  --color-solarized-magenta: #d33682;
  --color-solarized-violet: #6c71c4;
  --color-solarized-blue: #268bd2;
  --color-solarized-cyan: #2aa198;
  --color-solarized-green: #859900;
  --lightmode-background-color: var(--color-solarized-base3);
  --lightmode-foreground-color: var(--color-solarized-base01);
  --lightmode-accent-color: var(--color-solarized-blue);
  --darkmnode-background-color: var(--color-solarized-base03);
  --darkmode-foreground-color: var(--color-solarized-base1);
  --darkmode-accent-color: var(--color-solarized-orange);
}

.theme-github {
  --color-github-light: #f6f8fa;
  --color-github-dark: #0d1117;
  --color-github-blue: #2f80ed;
  --color-github-green: #2ea44f;
  --color-github-yellow: #f6c94c;
  --color-github-orange: #f9826c;
  --color-github-red: #d73a49;
  --color-github-purple: #6f42c1;
  --color-github-pink: #d5006d;
  --color-github-gray: #24292f;
  --lightmode-background-color: var(--color-github-light);
  --lightmode-foreground-color: var(--color-github-dark);
  --lightmode-accent-color: var(--color-github-blue);
  --darkmnode-background-color: var(--color-github-dark);
  --darkmode-foreground-color: var(--color-github-light);
  --darkmode-accent-color: var(--color-github-red);
}
