.not-found {
  text-align: center;
  background-color: var(--color-blue);

  .page {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: auto auto 1fr;
  }

  .page-picture {
    grid-area: footer;
    margin-top: auto;
  }
}
