.theme-default {
  &:where(.mode-system) {
    @media (prefers-color-scheme: light) {
      --background-color: var(--color-light);
      --foreground-color: var(--color-dark);
    }

    @media (prefers-color-scheme: dark) {
      --background-color: var(--color-dark);
      --foreground-color: var(--color-light);
    }
  }

  &:where(.mode-light) {
    --background-color: var(--color-light);
    --foreground-color: var(--color-dark);
  }

  &:where(.mode-dark) {
    --background-color: var(--color-dark);
    --foreground-color: var(--color-light);
  }
}
