.theme-default {
  --color-dark: #222323;
  --color-light: #f0f6f0;
  --color-violet: #ea7af4;
  --color-indigo: #3b0086;

  --lightmode-background-color: var(--color-light);
  --lightmode-foreground-color: var(--color-dark);
  --lightmode-accent-color: var(--color-indigo);
  --darkmnode-background-color: var(--color-dark);
  --darkmode-foreground-color: var(--color-light);
  --darkmode-accent-color: var(--color-violet);
}
