<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="landing-page {% if page.theme %}{{ page.theme }}{% endif %}">
    <main class="main-content">
      <div class="landing-grid">
        <section id="intro">
          <h1 class="headline" data-js="typewriter">
            You landed at harrypujols.com for some reason.
          </h1>
          <p>
            You're looking to <a href="#projects">hire him</a>,
            <a href="#">stalk him</a>, <a href="#contact">say "hi"</a>,
            <a href="#settings">mess around a bit with the page</a> or you're
            just hanging out. Either way, you're in the right place.
          </p>
          <p>
            harrypujols.com has been live since way back when Dreamweaver and
            Frontpage was what kids describe today as "code vibing" (though this
            site has always been handcrafted). It's always under construction
            and under destruction.
          </p>
        </section>
        <section id="projects">
          <h2>Projects</h2>
          <ul class="project-list">
            <li>
              <a href="https://harrypujols.com/terminal/">Terminal</a> This was
              harrypujols.com from 2014-2024, meant to be only a temporary
              solution until I had time between projects to set up a different
              site. It lasted 10 years (at least one CTO liked it enough to give
              me the job).
            </li>
            <li>
              <a href="https://harrypujols.com/desktop/">Desktop</a> This was
              harrypujols.com from 2009-2014 (and the first repo I saved in
              Github). It was originally hosted in some Mac service for static
              sites, I think it was called iTools. My purpose was to make
              something "future proof", and guess what? The Flash version of the
              same idea has been lost in time.
            </li>
            <li>
              <a href="#">Project 3</a>
            </li>
            <li>
              <a href="#">Project 4</a>
            </li>
          </ul>
        </section>
        <section id="contact">
          <h2>Contact</h2>
          <p>
            You can reach Harry at
            <a
              href="mailto:harrypujols+websiteref@gmail.com?subject=Hello from harrypujols.com"
              >this address</a
            >.
          </p>
        </section>

        <section id="settings">
          <h2>Settings</h2>
          {% include modeswitch.html %}
        </section>
        {% include face.html %}
      </div>
    </main>
    <script src="/assets/js/scripts.js"></script>
  </body>
  <!-- Please, let me know if there's something in the code that's not up to standards, I'm always looking for feedback -->
</html>
