<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body
    {% if page.theme %}
    class="{{ page.theme }}"
    {% endif %}>
    <main class="main post-page page-grid">
      <section class="post-content">
        <header class="post-header">
          {% for account in site.data.accounts %}
            {% if page.account == account.username %}
              <img
                src="/assets/img/identity/{{ account.avatar }}"
                alt="portrait"
                class="post-avatar" />
              <h2 class="post-account">{{ account.name }}</h2>
            {% endif %}
          {% endfor %}
        </header>
        {% if page.title != "post" %}
          <h1 class="post-title">{{ page.title }}</h1>
        {% endif %}
        <p class="post-date">
          {{ page.date | date_to_string: "ordinal", "US" }}
        </p>
        {% if page.rating %}
          <div class="rating rating-{{ page.rating }}">
            <figure class="rating-graphic">
              <img
                src="/assets/img/review/{{ page.rating }}-star.png"
                alt="rating {{ page.rating }}"
                class="rating-img" />
            </figure>

            {% for rating in site.data.ratings %}
              {% if rating.level == page.rating %}
                <figcaption class="rating-rank">
                  {{ rating.rank }}
                </figcaption>
              {% endif %}
            {% endfor %}

          </div>

        {% endif %}
        <article class="post">{{ content }}</article>
      </section>
      {% include sidebar.html %}
    </main>
    <script src="/assets/js/scripts.js"></script>
  </body>
</html>