html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color, var(--color-light));
  color: var(--foreground-color, var(--color-dark));
  font-size: var(--base-font-size);
  font-family: var(--base-font);

  .system & {
    @media (prefers-color-scheme: dark) {
      background-color: var(--background-color, var(--color-light));
      color: var(--foreground-color, var(--color-dark));
    }
  }

  .dark & {
    background-color: var(--background-color, var(--color-dark));
    color: var(--foreground-color, var(--color-light));
  }

  &:before {
    display: none;
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        content: $breakpoint;
      }
    }
  }

  @media print {
    background-color: var(--color-white);
    font-family: sans-serif;

    &,
    :is(.system, .dark, .light) &,
    :is(.system, .dark, .light) & * {
      color: var(--color-black);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: 1ex;
  font-size: inherit;
  text-wrap: balance;

  &:before {
    padding-right: 0.5ch;
  }
}

h1 {
  &:before {
    content: "#";
  }
}

h2 {
  &:before {
    content: "##";
  }
}

h3 {
  &:before {
    content: "###";
  }
}

h4 {
  &:before {
    content: "####";
  }
}

img {
  max-width: 100%;
}

p {
  margin-top: unset;
  margin-bottom: 1ex;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-blue);

  &:hover,
  &:focus,
  &:visited {
    color: var(--color-purple);
  }

  .system &:visited {
    @media (prefers-color-scheme: dark) {
      color: var(--color-pink);
    }
  }

  .dark &:visited {
    color: var(--color-pink);
  }
}

[target="blank"],
[target="\\_blank"] {
  &::after {
    padding-left: 1ch;
    vertical-align: super;
    font-size: 0.8em;
    content: "\2197";
  }
}

fieldset {
  padding: unset;
}

hr {
  border: 0;
  border-bottom: 1px dashed currentColor;
}

pre {
  font-family: var(--font-family-mono);
  font-size: inherit;
  color: inherit;
}
