html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font);

  &:before {
    display: none;
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        content: $breakpoint;
      }
    }
  }

  @media print {
    --base-font-size: 12pt;

    background-color: var(--color-white);
    color: var(--color-black);
    font-family: sans-serif;

    &,
    :is(.system, .dark, .light) &,
    :is(.system, .dark, .light) & * {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: 1ex;
  font-size: inherit;
  text-wrap: balance;

  &:before {
    padding-right: 1ch;
  }
}

h1 {
  &:before {
    content: "#";
  }
}

h2 {
  &:before {
    content: "##";
  }
}

h3 {
  &:before {
    content: "###";
  }
}

h4 {
  &:before {
    content: "####";
  }
}

img {
  max-width: 100%;
}

p {
  margin-top: unset;
  margin-bottom: 1ex;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color, var(--color-accent));

  &:hover {
    color: inherit;
  }
}

[target="blank"],
[target="\\_blank"] {
  &::after {
    padding-left: 1ch;
    vertical-align: super;
    font-size: 0.8em;
    content: "\2197";
  }
}

fieldset {
  padding: unset;
}

hr {
  border: 0;
  border-bottom: 1px dashed currentColor;
}

pre {
  font-family: var(--font-family-mono);
  font-size: inherit;
  color: inherit;
}

svg {
  --fill: currentColor;
}
