.button {
  display: inline-block;
  text-decoration: none;
  border: unset;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
