<pre
  class="ascii-art construction"
  role="presentation"
  aria-hidden="true"
  area-label="Under Construction"
>
                            _               _   _
            _                            _               _   _         
 _ _ ___ _| |___ ___    ___ ___ ___ ___| |_ ___ _ _ ___| |_|_|___ ___ 
| | |   | . | -_|  _|  |  _| . |   |_ -|  _|  _| | |  _|  _| | . |   |
|___|_|_|___|___|_|    |___|___|_|_|___|_| |_| |___|___|_| |_|___|_|_|

               O
       /~~~|#|]|=\|---\__
     |-=_____________  |\\ ,             O       O
    I|_/,-.-.-.-.-,-.\_|='(             T/\     /\=,---.
       ( o )( o )( o )     \            U /\   /\   `O'    
        `-'-'-'-'-`-'

</pre>
